<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Тренировочные программы</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">>
</head>
<body>
<header>
    <h1>Тренировочные программы</h1>
    <nav>
        <ul>
            <li><a href="mine">Главная</a></li>
            <li><a href="programma">Тренировочные программы</a></li>
            <li><a href="dieta">Диеты и советы</a></li>
            <li><a href="login">Вход</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="content">
        <h1>Тренировочные программы для каждого</h1>
        <p>Выбор правильной тренировочной программы может значительно повысить эффективность ваших усилий в зале и помочь достичь желаемых результатов быстрее и безопаснее.</p>
        
        <h2>Программы для начинающих</h2>
        <p>Если вы только начинаете свой путь в фитнес, важно начать с базовых упражнений, которые помогут вашему телу адаптироваться к новым нагрузкам, минимизируя риск травм.</p>
        <img src="/static/images/da.jpeg" alt="Тренировка для начинающих">
        
        <h2>Кардио тренировки</h2>
        <p>Кардио тренировки отлично подходят для улучшения общей выносливости и здоровья сердца. Они могут включать бег, быструю ходьбу, езду на велосипеде или плавание.</p>
        <img src="/static/images/kardi.jpeg" alt="Кардио тренировка">
        
        <h2>Силовые тренировки</h2>
        <p>Силовые тренировки направлены на укрепление мышц и повышение общей мускульной массы. Эти тренировки обычно включают работу с весами или собственным весом тела.</p>
        <img src="/static/images/sila.jpeg" alt="Силовая тренировка">
        
        <h2>Программы для продвинутых</h2>
        <p>Для тех, кто уже имеет опыт и хочет увеличить интенсивность тренировок, есть специализированные программы, которые могут включать интервальные тренировки высокой интенсивности или кроссфит.</p>
        <img src="/static/images/profi.jpg" alt="Продвинутая тренировка">
        
        <h2>Йога и растяжка</h2>
        <p>Йога и растяжка важны для улучшения гибкости, снижения стресса и улучшения общего самочувствия. Эти занятия подходят для всех уровней подготовки.</p>
        <img src="/static/images/ioga.jpg" alt="Занятие йогой">
        
        <h2>Групповые занятия</h2>
        <p>Групповые занятия могут включать аэробику, танцы, боевые искусства и многое другое. Они идеальны для тех, кто ищет мотивацию и общение в процессе тренировок.</p>
        <img src="/static/images/grupp.jpeg" alt="Групповые занятия">
    </div>
</main>
<footer>
    <p>© 2024 Фитнес-гид. Все права защищены.</p>
</footer>
</body>
</html>
